.nested-fields
  = f.input :attachment, as: :file, label: 'Додати фото (формат: jpeg, gif, png)', input_html: {accept: ('image/*'), capture: ('camera') }, class: 'btn btn-template-main', onchange: "previewFile()"
  img src="" alt="Image preview"/
javascript:
    $('document').ready(function(){
      function previewFile() {
        console.log("here");
        var preview = document.getElementsByClassName('nested-fields')[0].querySelector('img');
        var file    = document.getElementsByClassName('nested-fields')[0].querySelector('input[type=file]').files[0];
        var reader  = new FileReader();

        reader.addEventListener("load", function () {
          preview.src = reader.result;
        }, false);

        if (file) {
          reader.readAsDataURL(file);
        }
      }

      $(".nested-fields > div > input").on("change",previewFile());

    });

