.nested-fields
  = f.input :attachment, as: :file, label: 'Додати фото (формат: jpeg, gif, png)', input_html: {accept: ('image/*'), capture: ('camera') }, class: 'btn btn-template-main'
  = link_to_remove_association 'Видалити прикріплене фото', f
