=link_to_if(category.calculate('opened') != 0, category.calculate('opened'), account_admin_category_path(id: category.id, status: 'opened'), title: 'Відкриті')
|  | 
=link_to_if(category.calculate('closed') != 0, category.calculate('closed'), account_admin_category_path(id: category.id, status: 'closed'), title: 'Закриті')
|  | 
=link_to_if(category.calculate('pending') != 0, category.calculate('pending'), account_admin_category_path(id: category.id, status: 'pending'), title: 'На модерації')
|  | 
=link_to_if(category.calculate('declined') != 0, category.calculate('declined'), account_admin_category_path(id: category.id, status: 'declined'), title: 'Відхилені')