<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<% if current_user && current_user.admin? %>
  <div>
    <%= link_to 'All users', users_path %>
  </div>
<% end %>

<% if current_user.nil? %>
    <%= link_to new_user_session_path, class: 'login-button' do %>Sign in
    <% end %>
<% else %>
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>