.newcategory {
  @include border-radius(5px);
  position: relative;
  margin: 10px;
  right: -80%;
}

#categories-moderation {
  .centered th, td {
    text-align: center;
  }
  .lefted {
    text-align: left;
  }
  .issues_count {
    font-size: 1.1em;
    a {
      font-weight: bold;
    }
  }
  .glyphicon {
    font-size: 1.2em;
    padding: 3px;
  }
}