div.col-md-12 {
  width: 100%;
  margin-top: -20px;
}

ul#charts-list {
  @include padding-start(0);
  margin: auto;
  width: 461px;
  list-style: none;
  line-height: 32px;
  text-transform: uppercase;  
  > li {
    display: inline;
    > a {
      padding: 10px 20px;
      color: #555;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid #999;
      border-right: none;
    }
    a:hover {
      background-color: #80cbd9;
    }
  }
  > li:last-child > a {
      border-right: 1px solid #999;
  }
  .dropdown.open > a:focus {
    background-color: #38a7bb;
    color: white;
  }
  .dropdown.open .dropdown-menu  {
    margin-top: 10px;
    min-width: 133px;
    font-size: 12px;
  }
  .dropdown-menu > li > a {
    color: #999;
  }
}

@media (max-width: 600px) {
  ul#charts-list {
    margin: auto;
    width: 160px;
    > li > a {
      display: block;
      padding: 0;
      width: 160px;
      text-align: center;
      border: 1px solid #999;
      border-bottom: none;
    }
    > li:last-child > a {
      border-bottom: 1px solid #999;
    }
    .dropdown.open .dropdown-menu {
      margin-top: 30px;
      min-width: 160px;
    }
  }
}

#chart {
  margin: 20px auto;
  max-width: 1140px;
}