#event_details_modal {
  section.event-details{
    margin-bottom: 0;
  }
  .modal-body {
    .text-block {
      margin-top: 10px;
    }
    .status-labels_wrapper {
      margin-top: 10px;
      font-size: 15px;
    }
  }
}