header {
  a.header-btn.btn.btn-primary{
    color: $white;
  }

  #facebook_auth{
    margin-top: 18px;
  }

  a.navbar-brand {
    margin-top: 11px;
    margin-bottom: 8px;
  }

  .btn {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: $white
  }


  img.user_img {
    height: 39px;
    margin-left: 15px;
    margin-right: 20px;
    border-radius: 10px;
    @include border-radius(10px);
  }

  .nav-text-link {
    margin-top: 8px;
    margin-bottom: 8px;
    }

}

