header {
  a.header-btn.btn.btn-primary{
    color: $white;
  }

  #facebook_auth{
    margin-top: 18px;
  }

  .btn {
    display: block;
    margin-top: 8px;
    text-decoration: none;
    color: $white
  }

  img.user_img {
    height: 39px;
    margin-left: 15px;
    margin-right: 20px;
    border-radius: 10px;
    @include border-radius(10px);
  }

  .nav-text-link {
    margin-top: 8px;
    margin-bottom: 8px;
    }

  .banned {
    float:left;
    height: 50px;
    line-height: 30px;
    padding: 10px;
    margin: 10px 0 0 100px;
    color: $color_black_haze;
    @include border-radius(5px);
  }
}
}

.yamm .nav {
  margin-bottom: 0;
  margin-top: 0;
}
