.jumbotron {
  padding: 30px;
  margin-bottom: 0;
  position: relative;
  background: $main_bg center center repeat;
  background-size: cover;
  //Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
  transition: all 0.2s ease-out;
  .dark-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity:0.6;
  }
  h1, h2, p {
    color: white;
  }
}
.thumbnail {
  a:hover {
    text-decoration: none;
  }
}
