//colors
$white: #fff;
$black_5: rgba(0, 0, 0, .05);
$color_catskill_white: #f1f4f7;
$color_storm_dust: #5f6468;
$color_tapa: #777;
$color_dodger_blue: #30a5ff;
$color_gull_gray: #9fadbb;
$color_java: #1ebfae;
$color_yellow_orange: #ffb53e;
$color_alizarin_crimson: #f9243f;
$color_coral_red: #ef4040;
$color_gallery: #eee;
$black_10: rgba(0, 0, 0, .1);
$color_athens_gray: #e9ecf2;
$color_elephant: #1b3548;
$color_atlantis: #8ad919;
$white_75: rgba(255, 255, 255, .75);
$color_mountain_mist: #999;
$white_80: rgba(255, 255, 255, .8);
$white_20: rgba(255, 255, 255, .2);
$white_50: rgba(255, 255, 255, .5);
$color_tundora: #444;
$color_fuscous_gray: #555;
$color_alabaster: #f9f9f9;
$black_50: rgba(0, 0, 0, .5);
$color_st_tropaz: #285e8e;
$black_25: rgba(0, 0, 0, 0.25);
$color_black_haze: #f6f6f6;
$color_alto: #ddd;
$color_mercury: #e6e7e8;

@mixin background-image($width: 100%, $height: 200px) {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  width: $width;
  height: $height;
}

@mixin shadow {
  position: relative;
  box-shadow: 1px 5px 20px -4px $color-tundora;
  transition: all 0.2s ease-in-out;
}

@mixin pseudo-shadow {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 1px 5px 20px -1px $color-tundora;
  transition: opacity 0.2s ease-in-out;
}

