//colors
$color_primary: #38a7bb;
$color_shadow : #444;
$color_faded: #ccc;
$color_text_primary: #555;
$color_text_light: #999;
$color_border_light: #eee;
$color_facebook: #4460ae;
$color_googleplus: #c21f25;
$color_twitter: #3cf;
$color_instagram: #cd4378;
$color_mailsharer: #4a7f45;
$color_primary_dark: #20616d;
$color_highligt: #e6e6e6;
$color_mainbtn_border: #2a7d8c;
$color_transparentbtn_border: #e0e0e0;
$color_primarybtn: #2c8494;
$color_hr: #d5d5d5;
$color_boxbg: #f7f7f7;
$color_headings: #333;
$color_disabled_text: #ddd;
$color_navbar_text: #3b3b3b;
$color_navbar_li_bg: #80cbd9;
$color_navbar_icon: #888;
$color_links_hover: #267280;
$mercury: #e5e5e5;
$color_shadow_60: rgba(56, 167, 187, 0.6);
$color_regent_st_blue_approx: #a7dbe5;
$color_wild_sand_approx: #f5f5f5;
$gray: #808080;
$white_90: rgba(255, 255, 255, 0.9);
$white_50: rgba(255, 255, 255, 0.5);
$white_15: rgba(255, 255, 255, 0.15);
$white_10: rgba(255, 255, 255, 0.1);
$black_15: rgba(0, 0, 0, 0.15);
$black_17_5: rgba(0, 0, 0, 0.175);
$black_7_5: rgba(0, 0, 0, .075);


//fonts
$sans1: "Roboto";
$sans2: "Helvetica";
$sans3: "Arial";
$default_sans: "sans-serif";
$serif1: "Times New Roman";
$serif2: "Times";
$default_serif: "serif";
$symbolic: "FontAwesome";

//data-uris
$data_uri_0: "data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale";

//urls
$texture_1: url("http://subtlepatterns.com/patterns/subtle_zebra_3d.png");
$main_bg: url("/images/if.jpg");
$texture_2: url("/images/texture-bw.png");
$bg_1: url("/images/fixed-background-1.jpg");
$bg_2: url("/images/fixed-background-2.jpg");

@mixin background-image($width: 100%, $height: 200px) {
  position: relative;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  width: $width;
  height: $height;
}

@mixin shadow {
  position: relative;
  box-shadow: 1px 5px 20px -4px $color-shadow;
  transition: all 0.2s ease-in-out;
}

@mixin pseudo-shadow {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  box-shadow: 1px 5px 20px -1px $color-shadow;
  transition: opacity 0.2s ease-in-out;
}

@mixin scaling {
  transform-origin: top left;
  transform: scale(.7);
}
